<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.ieeeportal.controller.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeRegistration</servlet-name>
		<jsp-file>/WEB-INF/jsp/employee/EmployeeRegistration.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>EmployeeRegistrationController</servlet-name>
		<servlet-class>com.ieeeportal.controller.EmployeeRegistrationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectListServlet</servlet-name>
		
		<servlet-class>com.ieeeportal.controller.ProjectListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OpenFileServlet</servlet-name>
		<servlet-class>com.ieeeportal.controller.OpenFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeRegistration</servlet-name>
		<url-pattern>/EmployeeRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeRegistrationController</servlet-name>
		<url-pattern>/EmployeeRegistrationController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectListServlet</servlet-name>
		<url-pattern>/ProjectListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenFileServlet</servlet-name>
		<url-pattern>/OpenFileServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
